@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body{
    margin: 0;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.container-QR{
    max-width: 300px;
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
}

.element-QR img{
    border-radius: 15px;
    width: 100%;
}

.first_section{
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    font-family: 'Outfit', sans-serif;
    font-size: x-large;
}

.second_section{
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    font-family: 'Outfit', sans-serif;
    font-size: medium;
}

footer{
    margin: 10px;
}
.attribution {
    font-size: 11px; text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}

